.generalInfo-form {
  display: flex;
  flex-direction: column;
  height: 33.33%;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: space-between;
  background-color: var(--personal-info-bgcolor);
}

.generalInfo-form label {
  text-align: center;
  font-size: 1.2rem;
}
