.practicalExp-form {
  display: flex;
  flex-direction: column;
  height: 33.33%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--personal-info-bgcolor);
}

.practicalExp-form label {
  text-align: center;
}
